<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Clear Names</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Clearing all data</h1>
    <form action="http://localhost:<%- port %>/processClearNames" method="post">

        <input type="submit" value="Clear database" />
    </form>
    <hr>
    <a href="/">HOME</a>
</body>

</html>

