<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Gender Guesser</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Gender Guesser</h1>

    <ol>
	<li><a href="/addName">Add Name</a><br></li>
	<li><a href="/reviewResults">Review Names</a><br></li>
	<li><a href="/clearNames">Clear Names</a><br></li>
    </ol>

</body>

</html>

