<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Clear Data</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Database Cleared</h1>
    All names have been removed from the database. Number of names removed: <%- count %>
    <br>
    <a href="/">HOME</a>
</body>

</html>

